<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=(Local);Initial Catalog=MoChouJun;User ID=sa;Password=123QWEasdZXC;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ModelPath" value="D:\Users\Percy\Documents\Visual Studio 2013\Projects\ND.MCJ\Domain\ND.MCJ.Model\"/>
    <add key="Namespace" value="ND.MCJ.Model"/>
  </appSettings>
</configuration>