<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--====================================环信相关参数====================================-->
    <!--客服用户名-->
    <add key="HuanxinCustomerService" value="fanfan10,fanfan11" />
    <!--注册org_name-->
    <add key="OrgName" value="ndz" />
    <!--注册app_name-->
    <add key="AppName" value="mochoujuntest" />
    <!--对应君陌筹APP的client_id-->
    <add key="ClientId" value="YXA6mn6p0MSdEeW2AQdjWs-w6g" />
    <!--对应君陌筹APP的client_secret-->
    <add key="ClientSecret" value="YXA6mvQYL8WGk_-v3MjF4CZBYd8eVd0" />
    <!--对应群默认最大成员数-->
    <add key="MaxUsers" value="1000" />
  </appSettings>
</configuration>
