<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--==========================环信相关参数【上线时请记得修改相关参数】============================-->
    <!--环信客服用户名-->
    <add key="HuanxinCustomerService" value="fanfan10,fanfan11" />
    <!--环信注册org_name-->
    <add key="OrgName" value="ndz" />
    <!--环信注册app_name-->
    <add key="AppName" value="mochoujuntest" />
    <!--环信对应君陌筹APP的client_id-->
    <add key="ClientId" value="YXA6mn6p0MSdEeW2AQdjWs-w6g" />
    <!--环信对应君陌筹APP的client_secret-->
    <add key="ClientSecret" value="YXA6mvQYL8WGk_-v3MjF4CZBYd8eVd0" />
    <!--环信对应群默认最大成员数-->
    <add key="MaxUsers" value="1000" />
  </appSettings>
</configuration>
