<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--==========================京东支付相关参数============================-->
    <!-- 商户开通的商户号 -->
    <add key="JdMchId" value="110188614001" />
    <!-- 商户DES密钥 -->
    <add key="JdDesKey" value="AZL+1Te5VOCo2h9u1emU/ZE3uW15vwT+" />
    <!-- 商户MD5密钥 -->
    <add key="JdMd5Key" value="xmi2src4R0YZomwvuvWklPJdMjfPbuEz" />
    <!-- 商户支付请求/交易查询/退款 RSA加密私钥(由商户生成,并将对应的公钥发给网银) -->
    <add key="JdRsaPrivateKey" value="MIICdgIBADANBgkqhkiG9w0BAQEFAASCAmAwggJcAgEAAoGBAL9f//UDbE13xudBR6cz36jT4rmkN4oXbTx3oDJBmV+Jz23TvP/RZurNTAOHJFP5NPpUqblYVEz97uYF Ox11MuS2PbKXOM06VEQMROo4iNG9iAveyl0bUU3LOR94QUQsqBr7zPOo08MSYzuR wwAR7IxZ5Cjh4s0W8yYA01cjTiVhAgMBAAECgYAGuZnmA0PICSB9OecJsiH27dM2 0NV+zcnx6QZBHdsE53PZmSo4FyS1tZcpPJODO+unrFf2gmsb9YRyotZr95VdMpHL 6mWdQ1dR/LTFItpz3KVpFE+L2VYoVY6PnTjtlho4BHmczN+LWnJ0bneeecLbQuo/ Nko2c6xH0pCbD+PdQQJBAOnhZ51UmE9nRgz5jCo/WEWMjAalB0zaN8glGDBCKVgs CfMNHwtjPP/pgJ6izRt+HKZQxbYC2uGHfCAaZWuRuCkCQQDReXlO3pNMA6HX3B1K sTfDNP/R2fON/fV5XQqHaIFQyE775V8tPc9Tv1RbuJratz5CzbtfS1rShLsDd7wx 6Ip5AkEAy6deHS6rjgDki6nE9ojAKZeP2r1bFP2zsxEx9du2urNmWoEjdjwMwt6m A/zJU1ZGRkBxWOM1i0r5t86kX728uQJAQJMM5VZR3A4Gl0+grATjpsaw0hU5Mp2G Tcpz03hQ3QFS7+4un/i88Bk8PSY0fpYcmGVpjJ/jOKB4MkJ3/n6sKQJAfnnwysvX FRE3I1rhGgTh6VLIqSzvpa0T279fsPscoJU814l3FJf3wM4bHOKW/3eUmINNkH3Z TsdQR79NYPIKsg==" />
    <!-- 商户交易查询/退款 RSA验签公钥 (由网银生成,并将公钥提供给商户) -->
    <add key="JdRsaPublicKey" value="MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCKE5N2xm3NIrXON8Zj19GNtLZ8xwEQ6uDIyrS3S03UhgBJMkGl4msfq4Xuxv6XUAN7oU1XhV3/xtabr9rXto4Ke3d6WwNbxwXnK5LSgsQc1BhT5NcXHXpGBdt7P8NMez5qGieOKqHGvT0qvjyYnYA29a8Z4wzNR7vAVHp36uD5RwIDAQAB" />
    <!-- 网银支付服务地址 -->
    <add key="JdWepayServerPayUrl" value="https://m.jdpay.com/wepay/web/pay" />
    <!-- 网银查询服务地址 -->
    <add key="JdWepayServerQueryUrl" value="https://m.jdpay.com/wepay/query" />
    <!-- 网银退款服务地址 -->
    <add key="JdWepayServerRefundUrl" value="https://m.jdpay.com/wepay/refund" />
    <!-- 支付成功 商户展示地址 -->
    <add key="JdSuccessCallbackUrl" value="http://192.168.1.220:8092/Api/JdPay/Success" />
    <!-- 支付失败 商户展示地址 -->
    <add key="JdFailCallbackUrl" value="http://www.baidu.com" />
    <!-- 接收异步通知地址 -->
    <add key="JdNotifyUrl" value="http://weixin.niuduz.com/Api/PayNotify/JdBuyerNotify" />
    <!--==========================京东代付相关============================-->
    <!--签名key，测试环境测试的都是test，生产上一个会员对应一个key-->
    <add key="JdSignKey" value="360080004000832629abc" />
    <!--秘钥文件密码-->
    <add key="JdCertPassword" value="000000" />
    <!--秘钥文件名（该文件包含公钥和私钥）-->
    <add key="JdPriName" value="server.pfx" />
    <!--代付证书文件名-->
    <add key="JdpubFileName" value="npp_11_API2_pro.cer" />
    <add key="JdDefrayNotifyUrl" value="http://weixin.niuduz.com/Api/PayNotify/JdPayNotify" />
    <!--提现手续费收取方式  0按照比例  1按照单笔固定金额-->
    <add key="JdIsWithdrawPercentage" value="1" />
  </appSettings>
</configuration>
