<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--=======================================微信配置文件=======================================-->
    <add key="WechatAuthToken" value="mochoujun"/>
    <add key="WechatAuthAppId" value="wxa6104611140162b6"/>
    <!--APPSECRET：公众帐号secert-->
    <add key="WechatAuthAppSecret" value="f1dc8b43d86f57d774e2e2184dca133e"/>
    <!--MCHID：商户号-->
    <add key="WechatMchId" value="1300028901" />
    <!--KEY：商户支付密钥，参考开户邮件设置（必须配置）-->
    <add key="WechatSecretKey" value="Wfuhao123wwwmochoujunCom05062016" />
    <!--Redirect地址-->
    <add key="WechatAuthCodeRedirectUrl" value="http://192.168.1.220:8095/Api/Auth/WechatLogin" />
    <!--支付证书路径-->
    <add key="WechatSSLCertPath" value="D:\mochoujun\www.mochoujun.com\Areas\Api\RSAKey\apiclient_cert.p12" />
    <!--支付证书密码-->
    <add key="WechatSSLCertPassword" value="1300028901" />
    <!--支付回调地址-->
    <add key="WechatNotifyUrl" value="http://www.mochoujun.com/Api/PayNotify/WechatBuyerNotify" />
    <!--测速上报  0、不需要上报   1、上报-->
    <add key="WechatReportLevel" value="0" />

  </appSettings>
</configuration>