<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="enyim.com">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
    </sectionGroup>
  </configSections>
  <enyim.com>
    <memcached>
      <servers>
        <add address="192.168.1.200" port="11233" />
      </servers>
    </memcached>
  </enyim.com>
</configuration>
