<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="file" xsi:type="File" fileName="D:/logs/weicf/${shortdate}_new.txt" archiveAboveSize="5242880" maxArchiveFiles="9999" archiveFileName="D:/logs/weicf/${shortdate}_new.{####}.txt" archiveNumbering="Sequence" layout="${longdate} ${callsite} ${level} ${message}" />
    <target name="inpour" xsi:type="File" fileName="D:/logs/weicf/inpour/${shortdate}_new.txt" layout="${longdate} ${callsite} ${level} ${message}" />
    <target name="smsinfo" xsi:type="File" fileName="D:/logs/weicf/smsinfo/${shortdate}_new.txt" layout="${longdate} ${callsite} ${level} ${message}" />
    <target name="GlobalLog" xsi:type="File" fileName="D:/logs/weicf/${shortdate}_new.txt" layout="${longdate} ${callsite} ${level} ${message}" />
    <target name="IOS" xsi:type="File" fileName="D:/logs/weicf/IOS/${shortdate}_new.txt" layout="${longdate} ${callsite} ${level} ${message}" />
    <target name="Android" xsi:type="File" fileName="D:/logs/weicf/Android/${shortdate}_new.txt" layout="${longdate} ${callsite} ${level} ${message}" />
  </targets>
  <rules>
    <logger name="file" minlevel="Info" writeTo="file" />
    <logger name="inpour" minlevel="Info" writeTo="inpour" />
    <logger name="smsinfo" minlevel="Info" writeTo="smsinfo" />
    <logger name="GlobalLog" minlevel="Info" writeTo="GlobalLog" />
    <logger name="IOS" minlevel="Info" writeTo="IOS" />
    <logger name="Android" minlevel="Info" writeTo="Android" />
  </rules>
</nlog>